<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .demo{
            width: 500px;
            height: 300px;
            border: 1px solid purple;
            display: flex;                /*设置为flex布局*/
            justify-content: center;   /*水平居中*/
            align-items: center;     /*垂直居中*/
        }
        .inner{
            width: 160px;
            height: 160px;
            font-size: 26px;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <h1>Flex 布局</h1>
    <a href="https://www.runoob.com/w3cnote/flex-grammar.html">https://www.runoob.com/w3cnote/flex-grammar.html</a>

    <div class="demo">
        <div class="inner">
            <p>这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试</p>
        </div>
    </div>
</body>
</html>