<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .demo{
            width: 600px;
            height: 150px;
            border: 1px solid #b7b2b7;
            margin: 30px auto;
            padding-top: 17px;
            display: flex;                /*设置为flex布局*/
            justify-content: space-around;
        }
        .demo > div{
            flex: none;
        }
    </style>
</head>
<body>
    <div class="demo">
        <div class="left"></div>
        <div class="center">
            <p>description</p>
            <p>description</p>
            <p>description</p>
            <span>description</span>
        </div>
        <div class="btn">确认</div>
        <div class="btn">取消</div>
    </div>
</body>
</html>