<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .demo{
            display: flex;
        }
        .item{
            flex: 1;
            background: #2aabd2;
            border: 1px solid #b92c28;
        }
        .item2{
            flex: 0 0 50%;
        }
        .item4{
            flex: 0 0 20%;
        }
    </style>
</head>
<body>
    <!--等分布局-->
    <div class="demo">
        <div class="item item1">123</div>
        <div class="item item2">456</div>
        <div class="item item3">789</div>
        <div class="item item4">012</div>
    </div>
</body>
</html>