<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .demo{
            width: 258px;
            height: 300px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
        }
        .item{
            flex: 0 0 33.333333%;
            height: 80px;
            box-sizing: border-box;
            border: 1px solid #b92c28;
        }
    </style>
</head>
<body>
    <!--流布局-->
    <div class="demo">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
</body>
</html>